.formTable {
	width: 440px;
}

.formTable td {
	padding: 5px 3px;
	vertical-align: top;
}

.formTable th {
	text-align: left;
	font-weight: normal;
}

.greyBlock {
	background-color: #DEE1E6;
	display: block;
	padding: 6px 10px 6px 30px;
}

h1.greyBlock {
	font-weight: normal;
	font-variant: small-caps;
	letter-spacing: 1pt;
	font-size: 16pt;
	line-height: 120%;
	font-family: Trebuchet MS, Calibri, Arial, Sans Serif;
}

.greyBlock h1.greyBlock {
	padding: 6px 10px 6px 0px;
}

.borderBottomW {
	border-bottom: 2px solid #ffffff;
}

.margRight {
	margin-right: 5px;
}

.contactMessage{
	width: 450px;
	height: 150px;
	border: 1px solid darkgrey;
	-moz-border-radius: 4px; /* FF1+ */
	-webkit-border-radius: 4px; /* Saf3-4 */
	border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */
	-moz-box-shadow: 1px 1px 1px #dcdcdc inset; /* FF3.5+ */
	-webkit-box-shadow: inset 1px 1px 1px #dcdcdc; /* Saf3.0+, Chrome */
	box-shadow: inset 1px 1px 1px #dcdcdc; /* Opera 10.5, IE9 */
}
