.formTable {
	width: 440px;
}

.formTable td {
	padding: 5px 3px;
}

.formTable th {
	text-align: left;
	font-weight: normal;
}

.greyBlock {
	background-color: #DEE1E6;
	display: block;
	padding: 6px 10px 6px 30px;
}

h1.greyBlock {
	font-weight: normal;
	font-variant: small-caps;
	letter-spacing: 1pt;
	font-size: 16pt;
	line-height: 120%;
	font-family: Trebuchet MS, Calibri, Arial, Sans Serif;
}

.greyBlock h1.greyBlock {
	padding: 6px 10px 6px 0px;
}

.borderBottomW {
	border-bottom: 2px solid #ffffff;
}

.margRight {
	margin-right: 5px;
}