div {
	border-collapse: collapse;
}

.modulesHome {
	float: left;
	height: 237px;
	margin-right: 12px;
	width: 266px;
	border: 0;
	border-collapse: collapse;
}

.padWhite .modulesHome:last-child,.modulesHomeBottom:last-child {
	margin-right: 0px;
}

.modulesHomeContent {
	padding-top: 15px;
	color: #616161;
	line-height: 160%;
}

.modulesHomeContent h1 {
	text-align: center;
	color: black;
	letter-spacing: 1pt;
	line-height: 140%;
}

.modulesHomeContent h1 span {
	font-size: 2em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-transform: lowercase;
}

.padWhite {
	clear: both;
	background-color: white;
	padding: 12px 0px 0px;
	overflow: hidden;
	width: 950px;
}

.padGrey {
	clear: both;
	background-color: #f3f3f3;
	display: block;
	overflow: hidden;
	margin-top: 12px;
}

.modulesHomeBottom {
	width: 286px;
	min-height: 150px;
	margin-right: 12px;
	padding: 10px;
	float: left;
	color: #333333;
}

.modulesHomeBottom:first-child {
	padding: 10px 20px;
	width: 266px;
}

.modulesHomeBottom h1 {
	color: #333333;
	font-weight: normal;
	letter-spacing: 1.5pt;
	text-transform: uppercase;
}

.NGOSlinks {
	font-size: 10px;
	clear: both;
	background-color: transparent;
	display: block;
	overflow: hidden;
	margin-top: 12px;
}

.NGOSlinks .modulesHomeBottom {
	background-color: white;
	border: 1px solid #F3F3F3;
	color: #333333;
	float: left;
	height: 150px;
	margin: 10px 10px 0 0;
	padding: 8px;
	width: 286px;
}

.NGOSlinks .modulesHomeBottom:last-child {
	margin-right: 0px
}

.modulesHomeBottom h3 {
	background-color: #F3F3F3;
	color: #333333;
	display: block;
	font-size: 95%;
	font-weight: normal;
	letter-spacing: 1.5pt;
	margin: -8px -8px 10px;
	padding: 5px;
	text-transform: uppercase;
}

.modulesHomeBottom h3 a {
	letter-spacing: 0.5pt;
	color: grey;
}

.modulesHomeBottom table td {
	padding: 10px 25px 0px 10px;
	text-align: left;
	max-width: 120px;
}

.modulesHomeBottom table td img {
	max-width: 90%;
}

.moreInfo h3 {
	background: none repeat scroll 0 0 transparent;
	border-top: 1px dashed #BCBCBC;
	color: #333333;
	display: block;
	font-size: 95%;
	font-weight: normal;
	letter-spacing: 1.5pt;
	margin: 0;
	padding: 5px;
	text-transform: uppercase;
}

.bgMano {
	background: url("images/home/big_hand.png") no-repeat scroll 0 bottom
		transparent;
	height: 227px;
	position: relative;
	width: 100%;
	cursor: pointer;
}

.bgManos {
	background: url("images/mano.png") repeat-x scroll -9px bottom
		transparent;
	height: 227px;
	position: relative;
	width: 271px;
	cursor: pointer;
}

.NGOSlinks {
	font-size: 10px;
}