.greyBlock {
	background-color: #DEE1E6;
	display: block;
	padding: 6px 10px 30px 30px;
}

h1.greyBlock {
	font-weight: normal;
	font-variant: small-caps;
	letter-spacing: 1pt;
	font-size: 16pt;
	line-height: 120%;
	font-family: Trebuchet MS, Calibri, Arial, Sans Serif;
}

.greyBlock h1.greyBlock {
	padding: 6px 10px 6px 0px;
}

.greyBlock table td {
	padding: 5px 5px 5px 0px;
}

.fullField {
	width: 100%;
}

.link {
	cursor: pointer;
	color: #45B0BC;
	display: inline;
	clear: none;
}

.closeButton{
	background: url("images/search/cross.png") no-repeat scroll 2px 3px #A4A4AF;
	border: 2px solid white;
	-moz-border-radius: 15px; /* FF1+ */
	-webkit-border-radius: 15px; /* Saf3-4 */
	border-radius: 15px; /* Opera 10.5, IE 9, Saf5, Chrome */
	height:26px;
	width: 26px;
	overflow: hidden; 
	float: right;
	cursor: pointer;
}
.closeButton:hover{
	background-color: #95959F;
}
.closeButton:active{
	background-color: #77778A;
}
