.reqTableContainer {
}

.reqTableContainer .requestTable {
	width: 100%;
	margin-top: 10px;
}

.requestTable a {
	text-decoration: none;
}

.requestTable th {
	background: url("images/reqList/separator.png") no-repeat scroll 0 1px
		transparent;
	border-bottom: 1px dashed #6F7277;
	border-top: 1px dashed #6F7277;
	color: #5900AD;
	padding: 10px 15px;
	text-align: center;
	text-shadow: none;
	min-width: 30px;
	white-space: nowrap;
}

.requestTable th:first-child {
	background-image: none;
}

.requestTable td {
	padding: 3px 10px;
	border: none;
}

.requestPager {
	margin: 15px auto 5px;
}

.reqTableStatus {
}

.reqTableTitle {
}

.reqTableInstitution {
	text-align: center;
}

.reqTableRequestDate {
	text-align: center;
}

.reqTableResponseDate {
	text-align: center;
}

.reqTableMore {
	padding: 0px;
	border: 1px solid;
}

.reqTableFavorite {
	padding: 0px;
	border: 1px solid;
}

.reqTableNoFavorite {
}

.reqMenuItem {
	float: right;
}
