.wBlockDark {
	background-color: #73C8CA;
	display: block;
	font-family: Trebuchet MS, Calibri, Arial, Sans Serif;
	padding: 7px 25px 7px 5px;
	color: #FFFFFF;
	font-weight: normal;
	letter-spacing: 1pt;
	overflow: hidden;
}

.wBlockDark table td {
	vertical-align: middle;
}

.wBlockDark table td div {
	margin-left: 10px;
}

.tagline {
	font-size: 8pt;
}

.tagline span {
	color: #2A2A2A;
	float: left;
	font-weight: bold;
	padding: 0 5px;
}

.tagline .unit {
	float: left;
	padding: 3px 10px 0 5px;
	background: url("images/reqList/separator.png") no-repeat scroll right
		top transparent;
	overflow: hidden;
}

.tagline .unit span img{
	margin: 1px 5px -1px -5px;
}

.tagline div {
	float: left;
}

.tagline .unit span, .tagline .unit div {
	white-space: nowrap;
}

.contentResponse {
	padding: 15px;
	overflow: hidden;
	clear: both;
}

.responsePanel {
	margin: 15px -15px;
	background-color: #f3f3f3;
	padding: 15px;
}

.contentResponse h3 {
	color: #5900AD;
	font-size: 9pt;
	font-weight: normal;
	line-height: 160%;
}

.contentResponse .gwt-Label {
	margin-bottom: 10px;
}

.commentPanel {
	overflow: hidden;
	padding: 0;
	width: 100%;
	margin-bottom: -12px;
}

.commentButton {
	float: right;
}

.commentButton img {
	margin-bottom: -4px;
}

.newComment {
	border: 1px dashed #AFAFAF;
	height: 80px;
	padding: 5px;
	width: 98%;
}

.requestTable a {
	text-decoration: none;
}

.requestTable th {
	background: url("images/reqList/separator.png") no-repeat scroll 0 1px
		transparent;
	border-bottom: 1px dashed #6F7277;
	border-top: 1px dashed #6F7277;
	color: #5900AD;
	padding: 10px 15px;
	text-align: center;
	text-shadow: none;
	min-width: 30px;
}

.requestTable th:first-child {
	background-image: none;
}

.requestTable td {
	padding: 3px 10px;
	border: none;
}

.sharePanel {
	position:fixed;
	top: 175px;
	margin-left: -80px;
	z-index: 1;
}

.userResponsePanel {
	overflow: hidden;
	padding: 0;
	width: 100%;
	margin-bottom: -12px;
}

.newUserResponse {
	border: 1px dashed #AFAFAF;
	height: 60px;
	padding: 5px;
	width: 98%;
}

.userResponseButton {
	float: right;
}

.userSatisfacionPanel {}

.userSatisfactionQuestion {
	padding: 5px;
}

.userSatisfiedButton {}

.userUnsatisfiedButton {}

.requestStatusPanel {}

.userInsatisfactionQuestion {}

.requestDerivedRadioButton {
	display: block;
}

.requestExtendedRadioButton {
	display: block;
}

.requestDeniedRadioButton {
	display: block;
}

.responseRadioButtonIncomplete {
	display: block;
}

.submitUserInsatisfactionButton {}

.cancelUserInstafiscationButton {}
