.reqTableContainer .requestTable {
	width: 100%;
	margin-top: 10px;
}

.requestTable a {
	text-decoration: none;
}

.requestTable th {
	background: url("images/reqList/separator.png") no-repeat scroll 0 1px
		transparent;
	border-bottom: 1px dashed #6F7277;
	border-top: 1px dashed #6F7277;
	color: #5900AD;
	padding: 10px 15px;
	text-align: center;
	text-shadow: none;
}

.requestTable th:first-child {
	background-image: none;
}

.requestTable td {
	padding: 3px 10px;
}

.requestPager {
	margin: 15px auto 5px;
}

.reqTableStatus {
}

.reqTableTitle {
}

.reqTableInstitution {
}

.reqTableRequestDate {
}

.reqTableResponseDate {
}

.reqTableMore {
	background: url(images/reqList/viewMore.png) no-repeat scroll 0 0
		transparent;
	height: 18px;
	width: 18px;
}

.reqTableFavorite {
	background: url(images/reqList/favorite.png) no-repeat scroll 0 0
		transparent;
	height: 18px;
	width: 18px;
}

.reqTableNoFavorite {
	background: url(images/reqList/no-favorite.png) no-repeat scroll 0 0
		transparent;
	height: 18px;
	width: 18px;
}
