.userSatisfactionPanel {}

.userSatisfactionQuestion {
	padding: 5px;
}

.userSatisfiedButton {}

.userUnsatisfiedButton {}

.requestStatusPanel {}

.userInsatisfactionQuestion {}

.requestDerivedRadioButton {
	display: block;
}

.requestExtendedRadioButton {
	display: block;
}

.requestDeniedRadioButton {
	display: block;
}

.responseRadioButtonIncomplete {
	display: block;
}

.submitUserInsatisfactionButton {}

.cancelUserInstafiscationButton {}