.body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #77778A;
}

.body,.body table td,.body select {
	font-family: Trebuchet MS, Lucida Grande, Calibri, Arial, sans-serif;
	font-size: 12px;
}

img {
	border: none;
}

a {
	outline: none;
}

.body a,.body a:visited,.body a:hover {
	color: #45B0BC;
}

.body a:hover {
	color: #19BDCF;
}

h1 {
	font-size: 1.45em;
	font-weight: bold;
	color: #77778A;
	margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
.contentPad{
 padding: 0px 10px;
}
.contentPad .noMargin{
	margin: 0px -10px;
}
.fLeft{
	float: left;
}
.fRight{
	float: right;
	}
.clear{
	clear: both;
	}
.clearRight{
	clear: right;
}
/*---modules---*/
.greyGrad {
	background: url("images/bg_greyGrad.png") repeat-x scroll 0 bottom #DDE1E6;
	color: black;
	display: block;
	overflow: hidden;
	padding: 15px 20px 0px;
}


/*---- GWT-----*/
/** Example rules used by the template application (remove for your app) */
.sendButton {
	display: block;
	font-size: 16pt;
}
.gwt-CheckBox {
	padding: 3px 5px 3px 0px;
}

.body .gwt-PopupPanel {
    border: none;
}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.gwt-TextBox,.gwt-PasswordTextBox {
	background-color: #FFFFFF;
	border: 1px solid darkgrey;
	-moz-border-radius: 4px; /* FF1+ */
	-webkit-border-radius: 4px; /* Saf3-4 */
	border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/*-----EXCEPTIONS----*/
.contenedorRegistro .gwt-Label {
	padding: 16px 0 5px;
}
.body .waterBlockDark a, .body .waterBlockDark a:hover, .body .waterBlockDark a:visited, .body .waterBlockDark a:link{
	color: #ffffff;
}


