.body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #77778A;
}

.body,.body table td,.body select {
	font-family: Trebuchet MS, Lucida Grande, Calibri, Arial, sans-serif;
	font-size: 12px;
}

img {
	border: none;
}

a {
	outline: none;
}

.body a,.body a:visited,.body a:hover {
	color: #45B0BC;
}

.body a:hover {
	color: #19BDCF;
}

.body .gwt-TextArea, textarea{
	resize: vertical;	
}
	
h1 {
	font-size: 1.45em;
	font-weight: bold;
	color: #77778A;
	margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

.contentPad {
	padding: 0px 10px;
}

.contentPad .noMargin {
	margin: 0px -10px;
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.clear {
	clear: both;
}

.clearRight {
	clear: right;
}

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('fonts/bebasneue-acceso.eot');
	src: local('☺'), url('fonts/bebasneue-acceso.woff') format('woff'),
		url('fonts/bebasneue-acceso.ttf') format('truetype'),
		url('fonts/bebasneue-acceso.svg#webfont6sjBIBvz') format('svg');
	font-weight: normal;
	font-style: normal;
}

.body .bebas,.body .bebas td {
	font-family: 'BebasNeueRegular', Trebuchet MS, Helvetica, Arial,
		Sans Serif;
}

/*----Notifications---*/
.success,.error,.notice {
	border-bottom: 3px solid white;
	border-top: 3px solid white;
	display: block;
	font-family: Trebuchet MS, Calibri, Arial, Sans Serif;
	font-size: 9pt;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1pt;
	line-height: 120%;
	overflow: hidden;
	padding: 13px 10px 7px 40px;
}

.success .fLeft,.error .fLeft,.notice .fLeft {
	max-width: 850px;
}

.closeNotice {
	background: url(images/layout/c_notice.png) no-repeat scroll 0 0
		transparent;
	pointer: cursor;
	float: right;
	position: relative;
	right: -8px;
	top: -8px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.success {
	color: #42973D;
	background: url(images/layout/success.png) no-repeat scroll 5px 50%
		#CEEAAC;
}

.error {
	color: #EF3C39;
	background: url(images/layout/error.png) no-repeat scroll 5px 50%
		#FCDBDB;
}

.notice {
	color: #f38612;
	background: url(images/layout/notify.png) no-repeat scroll 5px 50%
		#fff277;
}

.error .closeNotice {
	background-image: url(images/layout/c_error.png);
}

.success .closeNotice {
	background-image: url(images/layout/c_success.png);
}

.loginForm .error {
	border: none;
	margin: 0px -10px 0px -30px;
	background-position: 25px 50%;
	padding-left: 60px;
}

.loginForm .error .closeNotice {
	display: none;
}


/*---modules---*/
.greyGrad {
	background: url("images/bg_greyGrad.png") repeat-x scroll 0 bottom
		#DDE1E6;
	color: black;
	display: block;
	overflow: hidden;
	padding: 15px 20px 0px;
}

.headSolicitud {
	background-color: #DEE1E6;
	display: block;
	font-family: Trebuchet MS, Calibri, Arial, Sans Serif;
	padding: 10px 0px 10px 30px;
	color: #696969;
	border-bottom: 4px solid #ffffff;
	overflow: hidden;
}

.headSolicitud h1,.titleH1 {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1pt;
	font-size: 12pt;
	line-height: 120%;
	float: left;
}
a.titleH1 {
	color: #696969;
	cursor: pointer;
}

.headSolicitud .reqMenuItem,.headSolicitud a.reqMenuItem {
	float: right;
	border-left: 2px solid white;
	cursor: pointer;
	display: block;
	height: 20px;
	overflow: hidden;
	padding: 14px 20px 5px 50px;
	margin: -10px 0px;
	color: white;
	text-decoration: none;
}

.headSolicitud .searchButton {
	background: url("images/lupa.png") no-repeat 10px 8px #c2c2cf;
}

.headSolicitud .newRequestButton {
	background: url("images/makeArequestPlus.png") no-repeat 10px 8px
		#a4a4af;
}

.leftContainer {
	float: left;
	width: 650px;
}

.rightContainer {
	background: url("images/layout/bg_dotted1.jpg") repeat scroll 0 0
		transparent;
	float: left;
	margin: 10px 0 10px 10px;
	overflow: hidden;
	padding: 15px;
	width: 260px;
}

.rightContent {
	background-color: white;
	overflow: hidden;
	padding: 10px;
	width: 240px;
}

/*---- GWT-----*/
/** Example rules used by the template application (remove for your app) */
.sendButton {
	display: block;
	font-size: 16pt;
}

.body .gwt-Button{
     -moz-border-radius: 4px; /* FF1+ */
	-webkit-border-radius: 4px; /* Saf3-4 */
	border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */
	font-size: 8pt;
}
.ClassicButton{
	letter-spacing: 0;
}

.gwt-CheckBox {
	padding: 3px 5px 3px 0px;
}

.body .gwt-PopupPanel {
	border: none;
}

.gwt-DialogBox {
	width: 400px;
}

/* SuggestItem*/
.gwt-SuggestBoxPopup .item {
	color: #424242;
	cursor: default;
	padding: 2px 6px;
}

.gwt-SuggestBoxPopup .suggestPopupTop div,.gwt-SuggestBoxPopup .suggestPopupMiddleLeft div,.gwt-SuggestBoxPopup .suggestPopupMiddleRight div,.gwt-SuggestBoxPopup .suggestPopupBottom div
	{
	display: none;
}

.body .gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner table {
	border: 2px solid #dcdcdc;
}

.body .gwt-SuggestBoxPopup .item-selected {
	background: none repeat scroll 0 0 #f3f3f3;
}

/*----*/ /*DATEPICKER*/
.body td.datePickerMonth,.body .datePickerPreviousButton,.body .datePickerNextButton
	{
	color: #77778A;
}

.body .gwt-DatePicker {
	border: 1px solid #77778A;
}

.body .datePickerWeekdayLabel,.body .datePickerWeekendLabel {
	background: none repeat scroll 0 0 #C2C2CF;
}

.body .datePickerDayIsHighlighted {
	background: none repeat scroll 0 0 #D1ECED;
}

.body .datePickerMonthSelector {
	background: none repeat scroll 0 0 #C2C2CF;
}

/*--*/
.gwt-TextBox,.gwt-PasswordTextBox,.gwt-SuggestBox,.gwt-DateBox {
	background-color: #FFFFFF;
	border: 1px solid darkgrey;
	-moz-border-radius: 4px; /* FF1+ */
	-webkit-border-radius: 4px; /* Saf3-4 */
	border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */
	-moz-box-shadow: 1px 1px 1px #dcdcdc inset; /* FF3.5+ */
	-webkit-box-shadow: inset 1px 1px 1px #dcdcdc; /* Saf3.0+, Chrome */
	box-shadow: inset 1px 1px 1px #dcdcdc; /* Opera 10.5, IE9 */
}

.gwt-TextBox:focus,.gwt-PasswordTextBox:focus,.gwt-SuggestBox:focus,.gwt-DateBox:focus
	{
	border: 1px solid #7AA1D6;
	-moz-box-shadow: 0 0 5px #7AA1D6; /* FF3.5+ */
	-webkit-box-shadow: 0 0 5px #7AA1D6; /* Saf3.0+, Chrome */
	box-shadow: 0 0 5px #7AA1D6; /* Opera 10.5, IE9 */
}

.searchModule .gwt-TextBox:focus,.searchModule .gwt-PasswordTextBox:focus,.searchModule .gwt-SuggestBox:focus,.searchModule .gwt-DateBox:focus
	{
	border: 1px solid #86868f;
	-moz-box-shadow: 0 0 5px #86868f; /* FF3.5+ */
	-webkit-box-shadow: 0 0 5px #86868f; /* Saf3.0+, Chrome */
	box-shadow: 0 0 5px #86868f; /* Opera 10.5, IE9 */
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.noOverflow {
	overflow: hidden;
}

/*-----EXCEPTIONS----*/
.contenedorRegistro .gwt-Label {
	padding: 16px 0 5px;
}

.body .waterBlockDark a,.body .waterBlockDark a:hover,.body .waterBlockDark a:visited,.body .waterBlockDark a:link
	{
	color: #ffffff;
}

/*-----------gwtMenuBar mainMenu EXCEPTION-------*/
.body .mainMenu .gwt-MenuBar-horizontal .gwt-MenuItem {
	font-weight: normal;
}

.body .mainMenu {
	background-color: white;
	clear: right;
	display: block;
	float: right;
	overflow: hidden;
	padding: 9px;
}

.body .mainMenu .gwt-MenuItem {
	font-size: 14pt;
	letter-spacing: 1pt;
}

.body .mainMenu .mainSubMenuItem {
	font-size: 12pt;
	letter-spacing: 0pt;
}

.body .mainMenu .gwt-MenuBar,.body .mainMenu .gwt-MenuBar .gwt-MenuItem,.body .mainMenu .gwt-MenuBar .gwt-MenuItem-selected,.body .mainMenu .gwt-MenuBar-horizontal
	{
	cursor: pointer;
	background: white;
	border: 0;
}

.body .gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 4px 10px;
}

/*-----------gwtMenuBarPopup overwrite-------*/
.body .gwt-MenuBarPopup {
	margin: 3px 0 0 3px;
}

.body .gwt-MenuBarPopup table td {
	border-collapse: collapse;
}

.body .gwt-MenuBarPopup .menuPopupTopLeft {
	background: none;
}

.body .gwt-MenuBarPopup .menuPopupTopLeftInner {
	background: url("images/menuBar/hborder_top.png") no-repeat scroll -1px
		0 transparent;
	height: 15px;
	width: 5px;
}

.body .gwt-MenuBarPopup .menuPopupTopCenter {
	background: url("images/menuBar/hborder_top.png") repeat-x scroll -2px 0
		transparent;
	height: 15px;
}

.body .gwt-MenuBarPopup .menuPopupBottomCenter {
	background: url("images/menuBar/hborder_bottom.png") repeat-x scroll 0
		-6px transparent;
}

.body .gwt-MenuBarPopup .menuPopupTopRight {
	background: none repeat scroll 0 0 transparent;
}

.body .gwt-MenuBarPopup .menuPopupTopRightInner {
	background: url("images/menuBar/hborder_top.png") no-repeat scroll
		-496px top transparent;
	height: 15px;
	width: 5px;
}

.body .menuPopupBottomCenterInner {
}

.body .gwt-MenuBarPopup .gwt-MenuBar .gwt-MenuItem-selected {
	cursor: pointer;
	background: #f3f3f3;
}

.body .gwt-MenuBarPopup .gwt-MenuBar .gwt-MenuItem {
	cursor: pointer;
	letter-spacing: 1pt;
}
/*-----*/
