<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>activityServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.ActivityServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>activityServlet</servlet-name>
    <url-pattern>/accesointeligente/activity</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ageServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.AgeServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ageServlet</servlet-name>
    <url-pattern>/accesointeligente/age</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>institutionServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.InstitutionServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>institutionServlet</servlet-name>
    <url-pattern>/accesointeligente/institution</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>institutionTypeServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.InstitutionTypeServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>institutionTypeServlet</servlet-name>
    <url-pattern>/accesointeligente/institutionType</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>regionServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.RegionServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>regionServlet</servlet-name>
    <url-pattern>/accesointeligente/region</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>requestServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.RequestServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>requestServlet</servlet-name>
    <url-pattern>/accesointeligente/request</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sessionServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.SessionServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>sessionServlet</servlet-name>
    <url-pattern>/accesointeligente/session</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.UserServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/accesointeligente/user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>contactServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.services.ContactServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>contactServlet</servlet-name>
    <url-pattern>/accesointeligente/contact</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>receiptServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.servlets.RequestReceiptServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>receiptServlet</servlet-name>
    <url-pattern>/accesointeligente/receipt</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>receiptServlet</servlet-name>
    <url-pattern>/receipt</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>backendServlet</servlet-name>
    <servlet-class>org.accesointeligente.server.servlets.BackendServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>backendServlet</servlet-name>
    <url-pattern>/admin/backend</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>AccesoInteligente backend</realm-name>
  </login-config>

  <security-role>
    <description>
      The role that is required to log in to the backend
    </description>
    <role-name>manager</role-name>
  </security-role>

  <listener>
    <listener-class>org.accesointeligente.server.ApplicationProperties</listener-class>
  </listener>

  <listener>
    <listener-class>org.accesointeligente.server.RobotContext</listener-class>
  </listener>

  <listener>
    <listener-class>org.accesointeligente.server.BackgroundServicesManager</listener-class>
  </listener>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>AccesoInteligente.html</welcome-file>
  </welcome-file-list>

  <!-- Filter used to prevent caching of *.nocache.* files -->
  <filter>
    <filter-name>gwtCacheControlFilter</filter-name>
    <filter-class>org.accesointeligente.server.GWTCacheControlFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>gwtCacheControlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
