<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/accesointeligente</property>
		<property name="connection.username">accesoint</property>
		<property name="connection.password">accesointeligente</property>

		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">900</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

		<!-- Enable Hibernate's automatic session context management -->
<!--		TODO: Hibernate offers three methods of current session tracking. -->
<!--		The "thread" based method is not intended for production use; it is merely useful for prototyping and tutorials such as this one. -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping resource="org/accesointeligente/model/Activity.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/Age.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/Attachment.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/Contact.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/Institution.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/InstitutionType.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/Notification.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/Region.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/Request.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/RequestCategory.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/RequestComment.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/Response.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/User.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/UserFavoriteRequest.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/UserRequestQualification.hbm.xml"/>
		<mapping resource="org/accesointeligente/model/UserResponse.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
